<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    <meta charset="UTF-8">
    <title>Funcionários</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username}, ${admin})"></div>
<br>
<div class="float-left" th:replace="fragments/admin-page-title :: admin-page-title ('Administração de Funcionários')"></div>
<div class="container-fluid">
    <a class="btn btn-primary"
       style="white-space: nowrap"
       href="/admin/employees/new">Novo</a>
</div>
<br>
<div class="container-fluid">

    <table class="table table-striped"
        data-toggle="table"
        data-toolbar="#toolbar"
        data-search="true"
        data-show-search-clear-button="true"
        data-trim-on-search="false"
        data-show-fullscreen="true"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-page-size="10"
        data-side-pagination="client"
        data-page-list="[10, 25, 50, 100, 200, All]"
        data-sortable="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-minimum-count-columns="3">
        <thead>
        <tr class="text-left">
            <th scope="col" data-sortable="true">Funcionário</th>
            <th scope="col" data-sortable="true">Cargo</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="employee : ${employees}">
            <td th:text="${employee.getName()}"></td>
            <td th:text="${employee.getPosition()}"></td>
            <td>
                <a class="btn btn-primary"
                   style="white-space: nowrap"
                    th:href="'/admin/employees/' + ${employee.getId()}"
                    th:text="Editar"></a>
                <span th:if="${employee.isEnabled()}">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-warning"
                            data-toggle="modal" th:data-target="'#removalModal' + ${employee.id}">
                        Desativar
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="'removalModal' + ${employee.id}" tabindex="-1" role="dialog" aria-labelledby="removalModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removalModalLabel">Desativar funcionário</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <br>
                                <div class="modal-body">
                                    Tem certeza que deseja desativar o funcionário?
                                    <br><br>
                                    <h5><div class="badge badge-pill text-monospace" style="background-color: antiquewhite">
                                        <span th:text="${employee}">Heitor Matsui [Coordenador]</span>
                                    </div></h5>
                                </div>
                                <div class="modal-footer">
                                    <form th:object="${employee}" th:method="delete">
                                        <input type="hidden" th:name="id" th:value="${employee.getId()}">
                                        <input type="hidden"
                                            th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}"/>
                                        <input class="btn btn-warning" type="submit"
                                            value="Desativar" />
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                <span th:if="${!employee.isEnabled()}">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-info"
                            data-toggle="modal" th:data-target="'#activateModal' + ${employee.id}">
                        Ativar
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="'activateModal' + ${employee.id}" tabindex="-1" role="dialog" aria-labelledby="removalModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="activateModalLabel">Ativar funcionário</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <br>
                                <div class="modal-body">
                                    Tem certeza que deseja ativar o funcionário?
                                    <br><br>
                                    <h5><div class="badge badge-pill text-monospace" style="background-color: antiquewhite">
                                        <span th:text="${employee}">Heitor Matsui [Coordenador]</span>
                                    </div></h5>
                                </div>
                                <div class="modal-footer">
                                    <form th:object="${employee}" th:method="delete">
                                        <input type="hidden" th:name="id" th:value="${employee.getId()}">
                                        <input type="hidden"
                                            th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}"/>
                                        <input class="btn btn-info" type="submit"
                                            value="Ativar" />
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" id="footer">
    <br><hr><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>
</html>
