<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>Perguntas</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username}, ${admin})"></div>
<br>
<div class="float-left" th:replace="fragments/admin-page-title :: admin-page-title ('Administração de Perguntas')"></div>
<div class="container-fluid">
    <a class="btn btn-primary"
       style="white-space: nowrap"
       href="/admin/questions/new">Nova</a>
</div>
<br>
<div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr class="text-left">
            <th scope="col">Cargo</th>
            <th scope="col">Categoria</th>
            <th scope="col">Pergunta</th>
            <th scope="col">Ações</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="question : ${questions}">
            <td th:text="${question.getPosition()}"></td>
            <td th:text="${question.getCategory()}"></td>
            <td th:text="${question.getDescription()}"></td>
            <td>
                <div class="text-center">
                    <a class="btn btn-primary"
                       style="white-space: nowrap;"
                       th:href="'/admin/questions/' + ${question.getId()}"
                       th:text="Editar"></a>
                </div>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger"
                        data-toggle="modal" data-target="#removalModal">
                    Remover
                </button>
                <!-- Modal -->
                <div class="modal fade" id="removalModal" tabindex="-1" role="dialog" aria-labelledby="removalModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removalModalLabel">Remover</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <br>
                            <div class="modal-body">
                                Tem certeza que deseja remover a pergunta?
                            </div>
                            <div class="modal-footer">
                                <form th:object="${question}" th:method="delete">
                                    <input type="hidden" th:name="id" th:value="${question.getId()}">
                                    <input type="hidden"
                                           th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}"/>
                                    <input class="btn btn-danger" type="submit"
                                           value="Remover" />
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" id="footer">
    <br><hr><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
