<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap-table.css">

    <meta charset="UTF-8">
    <title>Avaliações</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username}, ${admin})"></div>
<br>
<div class="float-left" th:replace="fragments/admin-page-title :: admin-page-title ('Relatório de ' + ${evaluated.getName()})"></div>

<div class="container-fluid text-left">
    <h6>Avaliado como
        <span class="badge badge-pill text-monospace"
              style="background-color: antiquewhite" th:text="${evaluated.getPosition()}">Par</span>
    </h6>
</div>
<div class="alert alert-warning" role="alert">
    BETA: os relatórios disponibilizam apenas mínima capacidade de visualização das questões de determinado funcionário.
</div>
<div class="container-fluid input-group">
    <!--    <a class="btn btn-primary"-->
    <!--       style="white-space: nowrap"-->
    <!--       href="/admin/feedbacks/new">Nova Avaliação</a>-->
    <!--    <span>&nbsp;&nbsp;</span>-->
    <!--    &lt;!&ndash; Button trigger modal &ndash;&gt;-->
    <!--    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#processModal">-->
    <!--        Reprocessar Avaliações-->
    <!--    </button>-->
    <!--    &lt;!&ndash; Modal &ndash;&gt;-->
    <!--    <div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="processModalLabel" aria-hidden="true">-->
    <!--        <div class="modal-dialog" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="processModalLabel">Reprocessar avaliações</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--                        <span aria-hidden="true">&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <div class="modal-body">-->
    <!--                    Esta ação irá reiniciar todas as avaliações com base nas perguntas existentes.-->
    <!--                    Todas as avaliações existentes serão reiniciadas e as informações serão perdidas.-->
    <!--                </div>-->
    <!--                <div class="modal-footer">-->
    <!--                    <form action="/admin/feedbacks/processAll" method="post" class="form-inline">-->
    <!--                        <button class="btn btn-warning form-control my-2 my-sm-0"-->
    <!--                                type="submit"-->
    <!--                                style="white-space: nowrap"-->
    <!--                        >Reprocessar Avaliações</button>-->
    <!--                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
    <!--                    </form>-->
    <!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<br>
<div class="container-fluid">
</div>
<br>
<div class="container-fluid">

    <table th:if="${questions.size() > 0}" class="table table-striped">
        <thead>
        <tr class="text-left">
            <th scope="col">Tipo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Avaliação</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="question : ${questions}">
            <td th:text="${question.getTitle()}"></td>
            <td th:text="${question.getDescription()}"></td>
            <td>
                <span th:text="${question.getPositionAverageScore()}">
                    Atende
                </span>
            </td>
        </tr>
        </tbody>
    </table>

    <span th:unless="${questions.size() > 0}">
        <h3>
            Ainda não há respostas a serem sumarizadas.
        </h3>
    </span>
</div>

<div class="container-fluid" id="footer">
    <br><hr><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table-locale-all.min.js"></script>
</body>
</html>
