<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    <meta charset="UTF-8">
    <title>Avaliações</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username}, ${admin})"></div>
<br>
<div class="float-left" th:replace="fragments/admin-page-title :: admin-page-title ('Relatório de ' + ${evaluated.getName()})"></div>

<div class="container-fluid text-left">
    <h6>Avaliado como
        <span class="badge badge-pill text-monospace"
              style="background-color: antiquewhite" th:text="${evaluated.getPosition()}">Par</span>
    </h6>
</div>
<div class="alert alert-warning" role="alert">
    BETA: os relatórios disponibilizam apenas mínima capacidade de visualização das questões de determinado funcionário.
</div>
<div class="container-fluid input-group">
    <!--    Espaço para adicionar ações para a lista -->
</div>
<br>
<div class="container-fluid">
</div>
<br>
<div class="container-fluid">

    <table th:if="${questions.size() > 0}" class="table table-striped">
        <thead>
        <tr class="text-left">
            <th scope="col">Tipo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Cargo do(s) Avaliador(es)</th>
            <th scope="col">Avaliação</th>
            <th scope="col">Detalhes</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="question : ${questions}">
            <td th:text="${question.getTitle()}"></td>
            <td th:text="${question.getDescription()}"></td>
            <td th:text="${question.getPosition()}"></td>
            <td>
                <span th:text="${question.getPositionAverageScore()}">
                    Atende
                </span>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary"
                        data-toggle="modal"
                        th:data-target="'#examplesModal' + ${question.id}">
                    Ver exemplos
                </button>
                <!-- Modal -->
                <div class="modal fade"
                     th:id="'examplesModal' + ${question.id}"
                     tabindex="-1" role="dialog" aria-labelledby="examplesModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examplesModalLabel">Exemplos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <br>
                            <div class="modal-body">
                                <div th:each="example : ${question.getExamples()}"
                                     th:if="${example != null && !example.isBlank()}"
                                     class="alert alert-warning" role="alert">
                                    <span th:text="${example}">Aqui vai um exemplo sobre essa pergunta, meu amigo.</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary"
                        data-toggle="modal"
                        th:data-target="'#improvementsModal' + ${question.id}">
                    Ver melhorias sugeridas
                </button>
                <!-- Modal -->
                <div class="modal fade"
                     th:id="'improvementsModal' + ${question.id}"
                     tabindex="-1" role="dialog" aria-labelledby="improvementsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="improvementsModalLabel">Sugestões de Melhorias</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <br>
                            <div class="modal-body">
                                <div th:each="improvement : ${question.getImprovements()}"
                                     th:if="${improvement != null && !improvement.isBlank()}"
                                     class="alert alert-warning" role="alert">
                                    <span th:text="${improvement}">Aqui vai uma sugestão de melhoria, meu amigo.</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <span th:unless="${questions.size() > 0}">
        <h3>
            Ainda não há respostas a serem sumarizadas.
        </h3>
    </span>
</div>

<div class="container-fluid" id="footer">
    <br><hr><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>
</html>
