<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="header (username, admin)">

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" th:fragment="header">
    <span class="navbar-brand mb-0 h1">
        <img src="/webjars/font-awesome/5.12.0/svgs/solid/bell.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Feedback Center</span>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li th:if="${admin}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administração
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/employees">Funcionários</a>
                    <a class="dropdown-item" href="/admin/questions">Perguntas</a>
                    <a class="dropdown-item" href="/admin/feedbacks">Avaliações</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Administração avançada</a>
                </div>
            </li>
        </ul>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
            <div>
                <span th:text="${username}"></span>
            </div>
            <div th:if="${admin}" class="-caret-left">
                <span class="container">
                    <img src="/webjars/font-awesome/5.12.0/svgs/solid/flag.svg" width="15" height="15"
                         class="d-inline-block align-middle"
                         title="Você e um administrador.">
                </span>
            </div>

            <div class="text-light">
                <form action="/logout"
                      method="post">
                    <input class="btn btn-link" type="submit"
                           value="Log out" />
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                </form>
            </div>
    </div>
</nav>
</body>
</html>
