<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link href="/webjars/font-awesome/5.12.0/css/fontawesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username})"></div>
<br>
<div th:replace="fragments/admin-page-title :: admin-page-title (${question.getEmployee().getName()} + ' (' + ${question.getEmployee().getPosition()} + ')')"></div>
<br><hr>
<div class="container-fluid" id="page">
    <form th:object="${question}" th:method="post">
        <input type="hidden" name="id" th:value="*{id}" />
        <br>
        <div class="container-fluid text-left">
            <h3 th:text="${question.title}">Entrega</h3>
        </div>
        <br>
        <input type="hidden" name="title" th:value="*{title}" />

        <div class="container-fluid text-left">
            <h5 th:text="${question.getDescription()}">Cumpre os prazos determinados para suas atividades.</h5>
            <input type="hidden" name="description" th:value="*{description}" />
        </div>

        <div class="container-fluid text-left">
            <br>
            <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
                <label for="nok" class="btn btn-outline-primary">
                    <input v-on:click="buttonClicked" id="nok" ref="nok" type="radio"/>
                    Não atende</label>
                <label for="ok" class="btn btn-outline-primary">
                    <input v-on:click="buttonClicked" id="ok" ref="ok" type="radio"/>
                    Atende</label>
                <input type="hidden" th:name="evaluation" th:field="*{evaluation}" v-model="selectionText" />
                <input ref="evaluation" type="hidden" th:value="${evaluation}" />
                <label for="godMode" class="btn btn-outline-primary">
                    <input v-on:click="buttonClicked" id="godMode" ref="godMode" type="radio"/>
                    Excede expectativas</label>
                <!--            <div v-if="ok" class="btn-group" role="group" aria-label="Third group">-->
                <!--                <i class="fas fa-smile"></i>-->
                <!--            </div>-->
                <!--            <div v-if="nok" class="btn-group" role="group" aria-label="Third group">-->
                <!--                <i class="fas fa-frown"></i>-->
                <!--            </div>-->
                <!--            <div v-if="godMode" class="btn-group" role="group" aria-label="Third group">-->
                <!--                <i class="fas fa-grin-hearts"></i>-->
                <!--            </div>-->
            </div>
        </div>

        <br>

        <div v-if="showExample" class="container-fluid text-left">
            <div class="form-group">
                <label for="example">Exemplo</label>
                <textarea th:field="*{example}" th:name="example" class="form-control" id="example" rows="2"></textarea>
            </div>
        </div>

        <div v-if="showImprovement" class="container-fluid text-left">
            <div class="form-group">
                <label for="improvement">Sugestão de Melhoria</label>
                <textarea th:field="*{improvement}" th:name="improvement" class="form-control" id="improvement" rows="3"></textarea>
            </div>
        </div>

        <div class="container-fluid text-left">
            <div class="float-md-none">
                <button class=" btn btn-primary" type="submit">Salvar</button>
            </div>
        </div>

    </form>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/vue/2.6.11/vue.js"></script>

<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#page',
        data() {
            return {
                showExample: false,
                showImprovement: false,
                selectionText: '',
                ok: false,
                nok: false,
                godMode: false,
            }
        },
        mounted: function () {
            const evaluationText = this.$refs.evaluation.value;
            console.log(evaluationText);
            if (evaluationText === 'Atende') this.setupOk();
            else if (evaluationText === 'Não atende') this.setupNok();
            else if (evaluationText === 'Excede expectativas') this.setupGodMode();
        },
        methods: {
            buttonClicked: function (event) {
                this.godMode = false;
                this.ok = false;
                this.nok = false;

                this.showExample = true;
                this.showImprovement = false;
                if (event.target.id === 'ok') this.setupOk();
                else if (event.target.id === 'nok') this.setupNok();
                else if (event.target.id === 'godMode') this.setupGodMode();
            },
            setupOk: function () {
                this.$refs.ok.click();
                this.showImprovement = false;
                this.ok = true;
                this.selectionText = "Atende";
            },
            setupNok: function () {
                this.$refs.nok.click();
                this.showImprovement = true;
                this.nok = true;
                this.selectionText = "Não atende";
            },
            setupGodMode: function () {
                this.$refs.godMode.click();
                this.showImprovement = false;
                this.godMode = true;
                this.selectionText = "Excede expectativas";
            }
        }
    });
</script>
</body>
</html>
