<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username}, ${admin})"></div>
<br>
<div th:replace="fragments/admin-page-title :: admin-page-title (${questions.get(0).getEvaluated().getName()} + ' (' + ${questions.get(0).getEvaluated().getPosition()} + ')')"></div>

<div class="container-fluid text-left">
    <h6>Você avalia como
        <span class="badge badge-pill text-monospace"
              style="background-color: antiquewhite" th:text="${feedback.getRelationship().relationship}">Par</span>
    </h6>
</div>

<br>
<div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr class="text-left">
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Avaliação</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="question : ${questions}">
            <td th:text="${question.title}">Entrega</td>
            <td th:text="${question.description}">Se ele entrega</td>
            <td>
                <a th:if="${question.getEvaluation() == 'Não atende' or question.getEvaluation() == 'Atende parcialmente'}" class="btn btn-secondary" style="white-space: nowrap"
                   th:href="'/feedback/' + ${question.getEvaluated().getId() + '/question/' + question.getId()}"
                   th:text="${question.getEvaluation()}"></a>
                <a th:if="${question.getEvaluation() == 'Atende' or question.getEvaluation() == 'Excede expectativas'}" class="btn btn-primary" style="white-space: nowrap"
                   th:href="'/feedback/' + ${question.getEvaluated().getId() + '/question/' + question.getId()}"
                   th:text="${question.getEvaluation()}"></a>
                <a th:if="${question.getEvaluation() == null}" class="btn btn-outline-primary" style="white-space: nowrap"
                   th:href="'/feedback/' + ${question.getEvaluated().getId() + '/question/' + question.getId()}"
                   th:text="Avaliar"></a>
            </td>
            <!-- The code below is experimental and it is not working! -->
<!--            <td>-->
<!--                <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">-->
<!--                    <label th:if="${question.getEvaluation().equals('Não atende')}" for="nok" class="btn btn-primary">-->
<!--                        <input id="nok" type="radio"/>-->
<!--                    </label>-->
<!--                    <label th:unless="${question.getEvaluation().equals('Não atende')}" for="nok" class="btn btn-outline-primary">-->
<!--                        <input id="nok" type="radio"/>-->
<!--                    </label>-->

<!--                    <label th:if="${question.getEvaluation().equals('Atende parcialmente')}" for="partialOk" class="btn btn-primary">-->
<!--                        <input id="partialOk" type="radio"/>-->
<!--                    </label>-->
<!--                    <label th:unless="${question.getEvaluation().equals('Atende parcialmente')}" for="partialOk" class="btn btn-outline-primary">-->
<!--                        <input id="partialOk" type="radio"/>-->
<!--                    </label>-->

<!--                    <label th:if="${question.getEvaluation().equals('Atende')}" for="ok" class="btn btn-primary">-->
<!--                        <input id="ok" type="radio" />-->
<!--                    </label>-->
<!--                    <label th:unless="${question.getEvaluation().equals('Atende')}" for="ok" class="btn btn-outline-primary">-->
<!--                        <input id="ok" type="radio" />-->
<!--                    </label>-->

<!--                    <label th:if="${question.getEvaluation().equals('Excede expectativas')}" for="godMode" class="btn btn-primary">-->
<!--                        <input id="godMode" type="radio" />-->
<!--                    </label>-->
<!--                    <label th:unless="${question.getEvaluation().equals('Excede expectativas')}" for="godMode" class="btn btn-outline-primary">-->
<!--                        <input id="godMode" type="radio" />-->
<!--                    </label>-->
<!--                </div>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" id="footer">
    <br><hr><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
