<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script>
        function check_pass_match() {
            var newPass1 = $("#newPassword1").val();
            var newPass2 = $("#newPassword2").val();

            if (newPass1 == newPass2 && newPass1 != ""){
                $("#warning").text("");
                $("#btn_pass").prop('disabled', false);
            } else if (newPass1 != newPass2){
                $("#warning").text("As duas senhas devem ser iguais!");
                $("#btn_pass").prop('disabled', true);
            } else if (newPass1 == "" || newPass2 == "") {
                $("#warning").text("A senha não pode ficar em branco");
                $("#btn_pass").prop('disabled', true);
            }
        }
    </script>
</head>
<body>

<div th:replace="fragments/header :: header (username=${username}, admin=${admin})"></div>
<br>
<div th:replace="fragments/admin-page-title :: admin-page-title ('Profile: ' + ${fullname})"></div>
<br>

<!--<code>[[${#httpServletRequest.requestURI}]]</code>-->
<!--<br>-->
<!--<code>[[${fullname}]]</code>-->
<!--<code> [[${isEmailValid}]] </code>-->

<div class="container-fluid">
    <div class="container-fluid text-left">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post" action="/password/reset">

                    <div th:if="${isEmailValid}">
                        <h5 class="card-title">Alterar senha</h5>
                        <p class="card-text">Caso deseje alterar sua senha, por favor preencha o formulário abaixo:</p>

                        <div class="form-group row">
                            <label for="currPassword" class="col-sm-4 col-form-label">Senha atual</label>
                            <input id="currPassword" name="currPassword" class="form-control col-sm-8" placeholder="Senha Atual" type="password"/>
                        </div>

                        <div class="form-group row">
                            <label for="newPassword1" class="col-sm-4 col-form-label">Nova senha</label>
                            <input id="newPassword1" name="newPassword1" class="form-control col-sm-8" placeholder="Nova senha" type="password"/>
                        </div>

                        <div class="form-group row">
                            <label for="newPassword2" class="col-sm-4 col-form-label">Nova senha (novamente)</label>
                            <input id="newPassword2" name="newPassword2" class="form-control col-sm-8" placeholder="Nova senha (novamente)" type="password" onfocusout="check_pass_match();"/>
                        </div>

                        <div id="warning" style="background-color:#ff000088;"></div>
                        <input type="hidden" name="usermail" th:value="${param.usermail}" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <button id="btn_pass" class="btn btn-primary" type="submit">Alterar</button>
                    </div>
                    <div th:unless="${isEmailValid}">
                        <h5 class="card-title">Esse link não é valido</h5>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
